<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-icon name="analytics-outline"></ion-icon>
      Industrie 4.0 Dashboard
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid>
    <ion-row>
      <ion-col>
        <app-line-chart></app-line-chart>
      </ion-col>
      <ion-col>
        <app-hello-world></app-hello-world>
      </ion-col>
      <ion-col>
        <app-hello-world></app-hello-world>
      </ion-col>
      <ion-col>
        <app-hello-world></app-hello-world>
      </ion-col>
      <ion-col>
        <app-hello-world></app-hello-world>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <app-hello-world></app-hello-world>
      </ion-col>
      <ion-col>
        <app-doughnut-chart-component></app-doughnut-chart-component>
      </ion-col>
      <ion-col>
        <app-hello-world></app-hello-world>
      </ion-col>
      <ion-col>
        <app-hello-world></app-hello-world>
      </ion-col>
      <ion-col>
        <app-hello-world></app-hello-world>
      </ion-col>
      <ion-col>
        <app-hello-world></app-hello-world>
      </ion-col>
      <ion-col>
        <app-hello-world></app-hello-world>
      </ion-col>
      <ion-col>
        <app-hello-world></app-hello-world>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
